.message-container {
  width: 100%;
 
}

.msg-container {
  display: flex;
  align-items: center;
  padding: 5px;
  width: 100%;
  overflow: hidden;
  .prof-image-container {
    width: 40px;
    margin-right: 10px;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .text-container {
    padding: 5px 10px;
    white-space: normal;
    width: 100%;
    border-radius: 4px;
    word-break: break-all;

    color: white;
  }
}
.incoming-msg {
  background-color: rgba(101, 87, 38, 0.92);
}
.current-user-msg {
  background-color: rgba(110, 62, 7, 0.92);
}
.text-wrapper {
  max-width: 100%;
}
